table {
    width: 100%;

    thead {
        border-bottom: 2px solid darken($primary-color, 10%);
        background-color: $primary-color;
        color: #fff;
    }

    tr {
        border-bottom: 1px solid #ddd;
    }

    th, td {
        padding: $main-spacing / 4;
    }
}